.address{text-align: right;
line-height: 25px;}
.secondaddress{line-height: 25px;}
.salute{font-style: italic;}
.tittle{text-align: center;
font-weight: bold;}
.paragraph1{line-height: 25px;}
.paragraph2{line-height: 25px;}
.paragraph3{line-height: 25px;}
.name{text-align: right;}
.container{font-family: Arial, Helvetica, sans-serif;}